{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <section>
        <div class="flex">
            <div class="flex flex-col items-center w-[372px] h-[100vh] bg-colorGreen text-white">
                <h2 class="text-3xl mt-6 mb-5">
                    Filtres
                </h2>
                <div class="mb-8">
                    <input id="search" class="w-[324px] h-[37px] text-black" type="text" placeholder="Search..">
                </div>
                <div class="w-[300px] overflow-auto">
                    {% for type in types %}
                    <div class=" grid gap-[10px] mb-[5px]">
                        <div class="flex">
                            <i id="menu-btn-{{ loop.index }}" class="fa-solid fa-plus text-[16px] self-center mr-[10px]"></i>
                            <p class="text-[16px]">{{ type }}</p>
                        </div>
                        <div id="navbar-{{ loop.index }}" class="relative top-0 right-0">
                            {% for location in type.locations %}
                                <li class="ml-[30px] mr-[5px] hidden"> {{ location }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex items-end">
                <div id="map" class="fixed h-[100vh] w-[81.05vw] right-[0]"></div> 
                <!-- ======= Need a fix ======= -->
                <div class="popup-container" id="location-content">
                </div>             
                <!-- ======= Need a fix ======= -->
            </div>
        </div>
        <label for="type">Type de lieu</label>
        <select name="type" id="type">
            <option value="all">Tous</option>
        </select>
    </section>
    <style>     
        * {
            font-family: "finalsix",sans-serif;
        }
        h2 {
            font-family: "bely-display",sans-serif;
        }
        [id^="menu-btn-"] {
            transition: .3s linear;
        }
        [id^="menu-btn-"].fa-times{
            transform: rotate(180deg);
            transition: .3s linear;
        }
        [id^="navbar-"] {
            background-color: red;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
        }
        [id^="navbar-"].active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
            transition: .2s linear;                  
        }
        [id^="navbar-"].active li {
            display: block;
        }
        .popup-container {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: red;
            padding: 10px;
            z-index: 999;
          }
          
          .popup-container.active {
            display: block;
          }
    </style> 
    <script>
        let menus = document.querySelectorAll('[id^="menu-btn-"]');
        let navbars = document.querySelectorAll('[id^="navbar-"]');
      
        for (let i = 0; i < menus.length; i++) {
          menus[i].onclick = () => {
            menus[i].classList.toggle('fa-times');
            navbars[i].classList.toggle('active');
          }
        }
    </script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
