{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <section>
        <div class="flex">
            <div class="flex flex-col items-center w-[372px] h-[100vh] bg-colorGreen text-white">
                <h2 class="text-3xl mt-6 mb-5">
                    Filtres
                </h2>
                <div class="mb-8 flex flex-col">
                    <div class="w-[324px] h-[37px] text-black rounded-[5px] bg-white">
                        <input id="search" class="mx-[10px] w-[304px] h-[37px] outline-none rounded-[5px]" type="text" placeholder="Search..">
                    </div>
                    <div class="w-[324px] h-[37px]  mt-3 text-black rounded-[5px] bg-white">
                        <select name="type" id="type" class="mx-[10px] w-[304px] h-[37px] text-black outline-none rounded-[5px]">
                            <option value="all">Tous</option>
                        </select>
                    </div>
                </div>
                <div class="w-[300px] overflow-auto">
                    {% for type in types %}
                    <div class="grid gap-[10px] mb-[5px]">
                        <div class="flex">
                            <i id="menu-btn-{{ loop.index }}" class="fa-solid fa-plus text-[16px] self-center mr-[10px]"></i>
                            <p class="text-[16px]">{{ type }}</p>
                        </div>
                        <div id="navbar-{{ loop.index }}" class="relative top-0 right-0">
                            {% for location in type.locations %}
                                <li class="ml-[30px] mr-[5px] hidden"> {{ location }}</li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col items-end">
                <div id="map" class="fixed h-[100vh] w-[81.05vw] right-[0]"></div> 
                <div class="popup-container w-[81.05vw]" id="location-content">
            </div>             
            </div>
        </div>
    </section>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
