{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center gap-10 bg-[#1A6E6A]">
        <h1 class="font-bold text-[64px] text-[#FFFAE8]">Que recherchez-vous ?</h1>
        <p class="text-xl text-[#FFFFFF]">Cela nous aidera à faire un premier filtre pour vous aider</p>
        <div class="flex flex-row mt-10">
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/servicemunicipaux.png') }}" alt="Services Municipaux">
                <p class="text-center text-[32px] text-[#FFFFFF]">Services <br> Municipaux</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/lieuxsportifs.png') }}" alt="Lieux Sportif">
                <p class="text-center text-[32px] text-[#FFFFFF]">Lieux <br> Sportifs</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/lieuxculturels.png') }}" alt="Lieux Culturels">
                <p class="text-center text-[32px] text-[#FFFFFF]">Lieux <br> Culturels</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/santes.png') }}" alt="Santés">
                <p class="text-center text-[32px] text-[#FFFFFF]">Santés</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/educations.png') }}" alt="Educations">
                <p class="text-center text-[32px] text-[#FFFFFF]">Education</p>
            </div>
        </div>
    </div>

    <div id="map" style="height: 400px; width: 100%"></div>
    <label for="type">Type de lieu</label>
    <select name="type" id="type">
        <option value="all">Tous</option>
    </select>
    <div id="test"></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}
