{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="flex flex-col">
        {# Main section #}
        <section class="h-[100vh] w-full flex flex-row">
            {# Carousel #}
            <div class="h-[100vh] flex overflow-hidden">
                <div id="left-carousel" class="flex flex-col gap-[30px] ml-[96px]">
                    {% for location in locations|slice(0,5) %}
                        <img class="object-fill rounded-[10px] w-[326px] h-[326px]" src="{{ asset('/uploads/images/locations/' ~ location.image) }}" alt="{{ location.name }}">
                    {% endfor %}
                    {% for location in locations|slice(0,5) %}
                        <img class="object-fill rounded-[10px] w-[326px] h-[326px]" src="{{ asset('/uploads/images/locations/' ~ location.image) }}" alt="{{ location.name }}">
                    {% endfor %}
                </div>
                <div id="right-carousel" class="flex flex-col w-[326px] h-[326px] gap-[30px] ml-[20px]">
                    {% for location in locations|slice(0,5) %}
                        <img class="object-fill rounded-[10px] w-[326px] h-[326px]" src="{{ asset('/uploads/images/locations/' ~ location.image) }}" alt="{{ location.name }}">    
                    {% endfor %}
                    {% for location in locations|slice(0,5) %}
                        <img class="object-fill rounded-[10px] w-[326px] h-[326px]" src="{{ asset('/uploads/images/locations/' ~ location.image) }}" alt="{{ location.name }}">    
                    {% endfor %}
                </div>
            </div>
            {# Main content #}
            <div class="flex flex-col ml-[112px]">
                <div class="flex justify-between mr-[96px] mt-[60px]">
                    <div></div>
                    <img class="w-[180px] h-[116px]" src="/images/logo.png" alt="Plessis-Robinson logo">
                </div>
                <div class="flex flex-col mr-[260px]">
                    <h1 class="text-colorBlueGreen text-[64px] mb-[120px]">Le Plessis-Robinson vous guide !</h1>
                    <h2 class="text-[32px] mb-[36px]">Que recherchez-vous ?</h2>
                    <div class="flex flex-row gap-[28px] mb-[70px]">
                        {% for subtype in subtypes %}
                            <div class="flex flex-col justify-start items-center">
                                <div class="bg-red-500 w-[132px] h-[132px] rounded-tr-[30px] rounded-bl-[30px]"></div>
                                <p class="font-medium mt-4">{{ subtype.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="flex justify-between">
                        <a href="#map">
                            <div class="flex justify-center items-center w-[218px] h-[43px] bg-colorOrange text-white rounded-[8px] font-bold">Trouver un lieu</div>
                        </a>
                        <a href="#map">
                            <div class="flex justify-center items-center w-[323px] h-[43px] border-colorOrange border-4 border-solid rounded-lg rounded-[8px] font-bold">Aller directement à la carte</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {# Map section #}
        <section class="flex flex-col">
            {# Menu #}
            <section class="flex flex-row items-center justify-between bg-colorGreen w-full h-[56px] tablet:h-[96px] py-[2rem] px-[1.25rem] text-white desktop:hidden">
                <h2 class="text-[24px] tablet:text-[32px]"> Cartes Interactive </h2>
                <div id="menu-btn" class="fas fa-bars text-[2rem] cursor-pointer"></div>
            </section>
            <div class="flex flex-row-reverse desktop:flex-row relative">
                {# Filtres #}
                <section id="filtre" class="absolute z-10 flex flex-col items-center w-[320px] tablet:w-[372px] h-[calc(100vh-64px)] tablet:h-[calc(100vh-96px)] desktop:h-[100vh] bg-colorGreen text-white z-10 hidden desktop:flex">      
                    <div class="flex items-center">
                        <div id="close-filtre" class="flex items-center justify-center relative right-[60px] tablet:right-[80px] w-[36px] h-[36px] rounded-full border-2 border-white ml-[36px] cursor-pointer desktop:hidden"><i class="fa-solid fa-chevron-left text-[12px]"></i></div>
                        <h2 class="text-3xl mt-6 mb-5 pr-[70px] desktop:p-0"> Filtres </h2>
                    </div>
                    <div class="mb-8 flex flex-col justify-center">
                        <div class="w-[280px] tablet:w-[324px] h-[37px] text-black rounded-[5px] bg-white">
                            <input id="search" class="mx-[10px] w-[260px] tablet:w-[304px] h-[37px] outline-none rounded-[5px]" type="text" placeholder="Search..">
                        </div>
                        <div class="w-[280px] tablet:w-[324px] h-[37px]  mt-3 text-black rounded-[5px] bg-white">
                            <select name="type" id="type" class="mx-[10px] w-[260px] tablet:w-[304px] h-[37px] text-black outline-none rounded-[5px]">
                                <option value="all">Tous</option>
                            </select>
                        </div>
                    </div>
                    <div id="locations-info" class="w-full pb-4 gap-y-[24px] hidden overflow-auto items-center" ></div>
                    <div class="w-[280px] tablet:w-[300px] overflow-auto hidden">
                        {% for type in types %}
                        <div class="grid gap-[10px] mb-[5px]">
                            <div class="flex items-center">
                                <div id="filter-btn-{{ loop.index }}" class="flex justify-center items-center bg-white w-8 h-8 rounded-lg self-center mr-[10px] cursor-pointer">
                                    <div id="isCheck-{{ loop.index }}" class="w-6 h-6 rounded-[5px] bg-[#FC6B3B] hidden"></div>
                                </div>
                                <p class="text-[16px]">{{ type }}</p>
                            </div>
                            <div id="navbar-{{ loop.index }}" class="flex flex-col gap-[10px] relative top-0 right-0 mb-[5px]">
                                {% for location in type.locations %}
                                    <li class="ml-[30px] mr-[5px] before:text-red-500 list-outside hidden"> {{ location }} </li>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </section>
                {# Map #}
                <section class="absolute z-0 top-0 h-[90vh] desktop:h-[100vh] w-full">
                    <div class="relative top-0 flex flex-col items-end h-[90vh] desktop:h-[100vh] w-full">
                        <div id="map" class="absolute z-0 w-full h-[90vh] desktop:h-[100vh] desktop:w-[calc(100%-372px)]"></div> 
                        <div class="popup-container absolute bottom-0 right-0 w-full z-1 hidden bg-white overflow-y-auto h-[769px] desktop:h-[300px] desktop:w-[calc(100%-372px)] flex flex-col desktop:flex-row" id="location-content"></div>
                    </div>
                </section>  
            </div>
        </section>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}