{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center p-24 gap-10 bg-[#1A6E6A]">
        <h1 class="font-bold text-[64px] text-[#FFFAE8]">Que recherchez-vous ?</h1>
        <p class="text-xl text-white font-customFinalBook">Cela nous aidera à faire un premier filtre pour vous aider</p>
        <div class="flex flex-row mt-10">
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/servicemunicipaux.png') }}" alt="Services Municipaux" class="opacity-50 hover:opacity-100">
                <p class="text-center text-[32px] text-white font-customFinalBook">Services <br> Municipaux</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/lieuxsportifs.png') }}" alt="Lieux Sportif" class="opacity-50 hover:opacity-100">
                <p class="text-center text-[32px] text-white font-customFinalBook">Lieux <br> Sportifs</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/lieuxculturels.png') }}" alt="Lieux Culturels" class="opacity-50 hover:opacity-100">
                <p class="text-center text-[32px] text-white font-customFinalBook">Lieux <br> Culturels</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/santes.png') }}" alt="Santés" class="opacity-50 hover:opacity-100">
                <p class="text-center text-[32px] text-white font-customFinalBook">Santés</p>
            </div>
            <div class="px-10">
                <img src="{{ asset('images/querecherchezvous/educations.png') }}" alt="Educations" class="opacity-50 hover:opacity-100">
                <p class="text-center text-[32px] text-white font-customFinalBook">Education</p>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center m-20">
            <div class="items-center justify-center">
                <p class="text-center text-white font-customFinalBook">Etape</p>
                <div class="pt-2"></div>
                <div class="flex items-center justify-center w-20 h-20 bg-[#FC6B3B] rounded-full text-white text-5xl font-bold">1</div>
                <div class="pb-7"></div>
            </div>
            <div class="flex items-center justify-center text-white text-xl">------</div>
            <div class="flex items-center justify-center w-16 h-16 bg-[#19647E] rounded-full border-4 border-[#8A675C]"></div>
            <div class="flex items-center justify-center text-white text-xl">------</div>
            <div class="flex items-center justify-center w-16 h-16 bg-[#19647E] rounded-full border-4 border-[#8A675C]"></div>
        </div>
    </div>

    <div id="map" style="height: 400px; width: 100%"></div>
    <label for="type">Type de lieu</label>
    <select name="type" id="type">
        <option value="all">Tous</option>
    </select>
    <div id="test"></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% endblock %}
